/**
 * Predefined vars
 *
 * base-font-size
 */

#wpbody-content
    font-size base-font-size
    line-height 1.5

.hide
    display none

.table-editable
    position relative

    .dashicons
        font-size 1.5em

.table-remove
    color #brown
    cursor pointer

    &:hover
        color #f00

.table-up, .table-down
    color #007
    cursor pointer

.table-up:hover, .table-down:hover
    color #00f


.table-add
    color #070
    cursor pointer

    &:hover
        color #0b0

#cd-product-service-type-adder
    display none

#cd-product-service-type-all
    max-height 1400px