# Dotenv
.env
.env.*
!.env.example
.htaccess

# Vendor (e.g. Composer)
vendor/*
!vendor/autoload.php
!vendor/composer
!vendor/kylekatarnls
!vendor/guzzlehttp
!vendor/sendinblue
!vendor/symfony
!vendor/.gitkeep
vendor/composer/tmp-*
vendor/composer/xdebug*
vendor/composer/installers/*
composer.lock
composer.phar

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

# MacOs
.DS_Store
.AppleDouble
.LSOverride

#IDE
.vscode
