.instance-map
    width 100%
    min-height 200px
    margin 0 0 2em

    +media('md')
        min-height 300px

    +media('lg')
        min-height 400px


    .marker
        display none

    .img-container
        min-width 170px
        min-height 70px
        background-size cover !important
        margin-bottom 1em;

    .text
        // resize the children fonts
        font-size 14px