/**
 * Predefined vars
 *
 * base-font-size
 */

#wpbody-content
    font-size base-font-size
    line-height 1.5

.hide
    display none

@import '~Admin/Settings/settings.styl'
@import '~Admin/views/posts/post.styl'
@import '~Scripts/OfferNeed/ProductServiceType.styl'