body.post-type-cd-offers-needs,
body.post-type-cd-entity
    .handle-actions,
    #cd-product-service-type-adder,
    #cd-product-service-type-tabs,
    #edit-slug-box,
    #show-settings-link,
    #wpfooter
        display none

body.post-type-cd-entity
    .wp-heading-inline + a
        display none

#cd-product-service-typediv
    .postbox-header h2
        display inline-block

        &::after
            content '*'
            color red
            margin-left 0.25em

#cd-product-service-type-all
    max-height 1000px

.acf-field-open-street-map
    div[data-editor-config]
        min-height 200px

.focusable
    border 4px solid transparent
    transition: border 1s ease-out

    &.focus
        border-color red
    